# Commit Verification Flow

The following diagram describes flow when verifying a commit with GPG key pair.

![commit-verification-flow](/devops/git/diagrams/commit-verification-flow.png)